@use "./base.scss";

// put your custom CSS here!

// Figure caption styling
figure {
  margin: 1em 0;
  
  figcaption {
    font-size: 0.85em;
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
    color: var(--gray);
  }
  
  img {
    margin-bottom: 0;
  }
}
